/* --- SECTION STYLES (Fieldsets & Legends) --- */

fieldset {
  border: none;
  margin-top: 3rem;

  legend {
    display: flex;
    align-items: center;
    gap: 12px;

    font: var(--heading-sm);
    color: var(--text-heading);
    margin-bottom: 1.5rem;

    .icon {
      width: 24px;
      height: 24px;
      color: var(--input-placeholder);
    }
  }
}

fieldset.customization {
  margin-top: 1.5rem;
}

legend .icon {
  color: var(--brand-light);
}

.contact {
  p {
    font-weight: 400;
  }
}
