/* Estilo para as páginas legais */
.legal-page {
    background-color: var(--shape-background);
    color: var(--text-body);

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding: 15px 0 0 0;
    box-sizing: border-box;
}

.legal-container {
    max-width: 800px;
    width: 100%;
    background-color: var(--shape-body);
    padding: 3rem;
    border-radius: 12px;
    border: 1px solid var(--input-stroke);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}

.legal-container header {
    border-bottom: 1px solid var(--input-stroke);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.legal-container h1 {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-top: 1rem;
}

.legal-container h2 {
    font: var(--heading-sm);
    color: var(--brand-light);
    margin: 2rem 0 1rem 0;
}

.legal-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.last-update {
    font-size: 14px;
    color: var(--input-placeholder);
}

.legal-content {
    margin-bottom: 3rem;
}

footer {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid var(--input-stroke);
    font-size: 14px;
    color: var(--input-placeholder);
}

html {
    scroll-behavior: smooth;
}
