.radio-group {
  display: flex;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  min-height: 46px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.radio-card {
  flex: 1;
  display: flex;
  cursor: pointer;

  input {
    display: none;
  }

  .radio-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10.5px 10px;
    border-radius: 6px;
    transition: all 0.2s;

    /* ESTADO INATIVO */
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-body);

    /* Estilo padrão do SVG */
    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      stroke: var(--input-placeholder);
      fill: none;
    }
  }

  /* Lógica de SELEÇÃO (Checked) */
  /* Esta regra diz: "Quando o input que é filho de .radio-card estiver checado, estilize o .radio-content que vem logo depois dele" */
  input:checked + .radio-content {
    background-color: var(--shape-button);
    color: var(--text-heading);
    letter-spacing: -0.02em;
    font-weight: 600;

    /* Muda a cor do SVG para azul quando selecionado */
    svg {
      stroke: var(--brand-light);
    }
  }
}
